<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand link-warning" href="{% url 'main_app:index' %}">
          <i class="fa-solid fa-house-chimney"></i>
      </a>
      <div class="btn-group" role="group" aria-label="Basic outlined example">
          {% if user.is_authenticated %}
          <div class="btn btn-outline-warning active"> Привет, {{ user.username }}</div>
          <a class="btn btn-outline-warning" href="{% url 'users:logout' %}">
              <i class="fa-solid fa-right-from-bracket"></i>
          </a>
          {% else %}
          <a class="btn btn-outline-warning" href="{% url 'users:login' %}">
              <i class="fa-solid fa-right-to-bracket"></i>
          </a>
          {% endif %}
      </div>
  </div>
</nav>